$darkColor:#303132 !important;
$lightColor:#ffffff !important;
$infoColor:#cacaca !important;
$primaryColor:#4859fc !important;
$secondryColor:#757575 !important;
$largeFont: 60px !important;
$headFont: 46px !important;
$paraFont: 20px !important;