// media query mixins
@mixin minWidth($width) {
    @media(min-width: $width) {
        @content;
    }
}

@mixin maxWidth($width) {
    @media(max-width: $width) {
        @content;
    }
}

// overlay mixins
@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    @content;
}

// box shadow
// overlay mixins
@mixin prefixer($prefixes:(), $property, $values) {
    @each $prefixe in $prefixes {
        #{'-' + $prefixe + '-' + $property}: $values;
    }
    #{$property}: $values;
}

// fonts
@mixin font($size, $weight, $lineHeight, $color, $text-trans) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    color: $color;
    text-transform: $text-trans;
    @content;
}