$primaryColor: #1E1835;
$secondryColor:#FF5938;
$infoColor:#B8B5C3;
$lightColor: #FFFFFF;
$darkColor:#0f0000;
$lightyColor: #d6d6e4;
// fonts
$primaryFont:2rem;
$secondryFont:1rem;
$largeFont:4.5rem;
$medFont:3.5rem;
$smallFont:1.2rem;