$primaryColor: #222222;
$secondryColor:#E4C083;
$infoColor:#5f6263;
$lightColor: #ecf0f1;
$darkColor:#0f0000;
$lightyColor: #d6d6e4;
// fonts
$primaryFont:2rem;
$secondryFont:1.2rem;
$largeFont:4.5rem;
$medFont:2.5rem;
$smallFont:1rem;
$xsFont:.8rem;