$primaryColor: #9D35EF;
$secondryColor:#1E1C27;
$infoColor:#8AA3CB;
$lightColor: #FFFFFF;
$darkColor:#0f0000;
$lightyColor: #d6d6e4;
// fonts
$primaryFont:2rem;
$secondryFont:1rem;
$largeFont:4.5rem;
$medFont:3.5rem;
$smallFont:1.2rem;